div.reactFlowWorkField-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1266px;
  height: calc(100vh - 5.2rem);
}
div.generate-button-div {
  position: absolute;
  width: 186px;
  height: 70px;
  left: 1157px;
  top: 917px;

  background: #565656;
  border-radius: 11px;
}
