div.reactFlowWorkField-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1266px;
  height: calc(100vh - 5.2rem);
}
div.generate-button-div {
  z-index: 99999;
  position: absolute;
  width: 186px;
  height: 70px;
  right: 20px;
  top: 10px;
  border-radius: 11px;

  label {
    button {
      color: blanchedalmond;
      background: #565656;
      font-size: 1.5rem;
      border-radius: 11px;
      opacity: 0.8;
      width: 80%;
      height: 80%;
      cursor: pointer;

      &:hover {
        opacity: 1;
        // transform: brightness(1.1);
      }
    }
  }
}
