.nodeOut {
  background-color: #555;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  div.main-container {
    flex: 8.5;
    //
  }
  div.bottom-bar {
    flex: 1.5;

    //
  }
}
